a.anchor-dropdown{
    cursor: pointer;
}

a.anchor-dropdown:focus a.anchor-dropdown:active{
    color: black;
    outline: none;
}

a.dropdownMenu{
    font-size: 10pt;
    text-align: center;
}


a.email{
    color: white;
}

a.email:hover a.email:focus a.email:active{
    text-decoration: none!important;
    color: #18bc9c;
}

.img{
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    align-content: center;
}

div.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
}
